  .footer-toolbar {
    background-color: lightgray;
    height: 44px !important;
    /* padding: 15px 0;
    color: #333; */
    /* font-size: 1rem; */
  }
  
  .copyright-text {
    color: black; /* Primary color for text */
    font-size: 14px; 
    text-align: center;
  }
   
  .footer-content {
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .footer-toolbar {
      padding: 10px 0;
    }
    .copyright-text {
      font-size: 0.9rem;
    }
  }
  