.user-actions-container {
    width: 100%;
    /* max-width: 600px; */
    margin: 20px auto;
  }
  
  .full-width {
    width: 100%;
  }
  
  .search-card {
    margin-bottom: 20px;
  }

  .action-button {
    margin-right: 20px; 
  }
  
  .action-button:last-child {
    margin-right: 0; 
  }
  
 
  