.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu-spacer {
    flex: 1 1 auto;
  }
  
  .nav-item {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    /* transition: background-color 0.3s, color 0.3s; */
  }
  
  /* .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f9f9f9;
  } */
  
  .main-content {
    padding: 20px;
    height: 83vh;
  }

  .toolbar-section{
    background-color: lightgrey !important;
  }
  