<div fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="w-100" appearance="outlined" fxLayout="row" fxLayoutAlign="center center" fxFlex="30" fxFlex.xs="100" fxLayoutGap="10px">
      <mat-card-header class="card-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="card-header-content" fxLayout="row" fxLayoutAlign="start center">
          <img mat-card-md-image class="card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Image of a Shiba Inu">
          <mat-card-title-group fxFlex="70" fxLayout="column" fxLayoutGap="4px">
            <mat-card-title class="card-title">Bhushan Malpure</mat-card-title>
            <mat-card-subtitle class="card-subtitle">9987788909</mat-card-subtitle>
            <mat-card-subtitle class="card-subtitle">Pune, Maharashtra</mat-card-subtitle>
          </mat-card-title-group>
        </div>
      </mat-card-header>
      <mat-card-content style="padding: 16px;">
        <!-- {{longText}} -->
      </mat-card-content>
    </mat-card>
  </div>
  