.card-header {
    padding: 16px;
  }
  
  .card-image {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-right: 16px; 
  }
  
  .card-title {
    font-weight: 500;
    
  }
  
  .card-subtitle {
    
    color: gray;
  }
  

  