<div class="container d-flex justify-content-center ">
    <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-card appearance="outlined" class="mt-5 shadow">
                <div class="d-flex">
                    <mat-icon class="ms-3" size="64" aria-hidden="false" aria-label="Example home icon" fontIcon="account_box"></mat-icon>
                    <div class="mx-5">
                        <mat-card-content><span class="fw-bold">Name :</span> Bhusan Mulphure</mat-card-content>
                        <mat-card-content><span class="fw-bold">Mobile No :</span> 9987788909</mat-card-content>
                        <mat-card-content><span class="fw-bold">Address :</span> Pune,Maharashtra</mat-card-content>

                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>